/* Styling for Rushcliffe Page */
body {
  background: #dcddde;
}
.container {
  border: 1px dotted goldenrod;
}
.mainpage {
  margin: 10px 15px;
  border: 2px solid crimson;
  background: white;
}
.top-banner {
  background: #00457c;
  margin: 0 0 20px 0;
}
.bannerRight {
  padding: 5px;
  /* text-align: right; */
  /* float: right; */
}
.headerLinks {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
}
.headerLinks li {
  /* display: inline; */
  padding: 0 10px;
  margin: 0;
  border-left: 2px solid white;
}
.headerLinks a {
  text-decoration: none;
  color: white;
}
.headerLinks .firstHL {
  border-left: none;
}
.promotions {
  display: flex;
  position: relative;
  height: 250px;
}
.promoBox {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 10px 10px 10px;
}
.promoContent {
  font-size: 13px;
  float: left;
  color: rgb(85, 85, 85);
}
.promoImage {
  display: block;
  max-width: fit-content;
  margin: 0 10px;
  /* margin: auto; */
}
/* .promoImage img{
  width: 200px; 
  height: 108px;
} */
.promoText {
  margin: 0 10px;
  padding: 5px;
  font-weight: 400;
  text-align: left;
}
.promoText p a {
  color: rgb(85, 85, 85);
  /* text-align: left; */
}
.promoText p a:hover {
  color: #57822b;
}
.promoButtons {
  float: right;
  font-size: 13px;
}
.promoButtons a {
  height: 45px;
  background: #666;
  color: #fff;
}
.section2 {
  border: 2px dashed violet;
  display: flex;
}
.online-services {
  border: 1px solid #ccc;
  width: 508px;
  font-size: 13px;
  padding: 5px;
}
.tab-content {
  clear: left;
  border: 2px solid #00457c;
}
.online-services .nav-item a {
  color: #555;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: #00457c;
}
.tab-pane .panel {
  display: flex;
  justify-content: space-evenly;
}
.panelList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
.panelList li a {
  color: #555;
  text-decoration: none;
}
.panelItem {
  margin: 10px 0;
}
.panelListIcon {
  /* display: inline-block; */
  width: 15px;
  height: 15px;
  margin-right: 20px;
  text-align: center;
  background: #c5d149;
  color: white;
}
.tabContentBottom {
  background: #dcddde;
}
.tcbIcon {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  background: #235f93;
  color: white;
}
.tcbIcon2 {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  background-color: #0099cc;
  color: white;
}
.news {
  width: 220px;
  border: 1px solid #ccc;
}
/* Not yet in use
.active {
  background-color: #235f93;
  /* background: #CCC; */
/* color: #444;
margin: 10px 0;
    display: inline-flex;
} */
/* .headerbackground {
    background: #dcddde!important;
    padding: 5px;
    font-weight: bold;
    position: relative;
}
.promoButtons a:before {
  display: inline-block;
  margin: 0 20px -29px 0px;
  width: 50px;
  height: 45px;
  /* background: #cfd85b; */
/* background-position: center; */
/* text-align: center;
  
}  */
