/* Styling for Rushcliffe Page */
body {
  background: #dcddde;
}
.container {
  border: 1px dotted goldenrod;
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin-bottom: 20px;
}
h2 {
  font-size: 1.4em;
  color: #444;
}
.mainpage {
  margin: 5px 10px;
  background: white;
}
.top-banner {
  background: #00457c;
  margin: 0 0 20px 0;
}
.bannerRight {
  padding: 5px;
  /* text-align: right; */
  /* float: right; */
}
.headerLinks {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
}
.headerLinks li {
  /* display: inline; */
  padding: 0 10px;
  margin: 0;
  border-left: 2px solid white;
}
.headerLinks a {
  text-decoration: none;
  color: white;
}
.headerLinks .firstHL {
  border-left: none;
}
.promotions {
  display: flex;
  position: relative;
  height: 250px;
}
.promoBox {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 10px 10px 10px;
}
.promoContent {
  font-size: 13px;
  float: left;
  color: rgb(85, 85, 85);
}
.promoImage {
  display: block;
  max-width: fit-content;
  margin: 0 10px;
  /* margin: auto; */
}
.promoImage img {
  width: 200px;
  height: 108px;
}
.promoText {
  margin: 0 10px;
  padding: 5px;
  font-weight: 400;
  text-align: left;
}
.promoText p a {
  color: rgb(85, 85, 85);
  /* text-align: left; */
}
.promoText p a:hover {
  color: #57822b;
}
.promoButtons {
  float: right;
  font-size: 13px;
}
.promoList {
  list-style-type: none;
  padding-left: 0;
}
.promoList li {
  background: #666;
  padding: 0;
  margin-bottom: 4px;
  border: 1px solid #dcddde;
}
.list-group-item.active {
  z-index: 2;
  background-color: #ccc;
  border-color: #ccc;
}
.promoLabel {
  text-align: center;
  position: relative;
  top: -9px;
  padding: 12px 20px;
  margin-left: -3px;
}
.promoList a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.list-group-item.active a {
  color: #444;
}
/* I noticed Boostrap has styling on hover, trying to update it  */
.promoList li:hover {
  color: #fff;
  background: #666;
}
.promoIcon {
  display: inline-block;
  width: 50px;
  height: 40px;
  text-align: center;
  background: #c5d149;
  color: white;
}
.list-group-item.active .promoIcon {
  transform: rotate(180deg);
  background-color: #235f93;
  background-position: center;
}
.section2 {
  border: 2px dashed violet;
  display: flex;
}
.online-services {
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 5px;
  margin: 0 10px;
}
.online-services li {
  margin-bottom: 0;
}
.nav-tabs .nav-link {
  border: 0;
}
.tab-content {
  clear: left;
  border: 2px solid #00457c;
}
.online-services .nav-item a {
  color: #555;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: #00457c;
}
.tab-pane .panel {
  display: flex;
  justify-content: space-evenly;
}
.panelList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
.panelList li a {
  color: #555;
  text-decoration: none;
}
.panelItem {
  margin: 10px 0;
}
.panelListIcon {
  /* display: inline-block; */
  width: 15px;
  height: 15px;
  margin-right: 20px;
  text-align: center;
  background: #c5d149;
  color: white;
}
.tabContentBottom {
  background: #dcddde;
}
.tcbIcon {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  background: #235f93;
  color: white;
}
.tcbIcon2 {
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
  background-color: #0099cc;
  color: white;
}
.news {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 10px;
}
.headline {
  background: #dcddde !important;
  /* padding: 5px; */
  font-weight: bold;
  position: relative;
}
.headlineIcon {
  width: 35px;
  height: 30px;
  text-align: center;
  background: #669933;
  background-position: center;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}
.headline a {
  text-decoration: none;
  color: #444;
  font-size: 24px;
}
.news a:hover {
  text-decoration: underline;
  color: #57822b;
}
.newsBox {
  background-color: #e7e7e8;
  padding: 5px;
  margin-bottom: 5px;
}
.newsBox h3 {
  font-size: 15px;
  font-weight: bolder;
  /* margin-bottom: 20px; */
}
.newsBox a {
  text-decoration: none;
  color: #444;
}
.newsBox p {
  margin-top: -10px;
  font-size: 12px;
  /* margin-bottom: 20px; */
}
.section3 {
  border: 2px solid rosybrown;
  display: flex;
}
.structure {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 10px;
}
.our-services {
  font-size: 13px;
}
.size {
  width: 317px;
}
/* Default section styling */
.columns {
  float: left;
  display: inline;
  margin: 0px 10px 10px 10px;
  padding: 5px;
}
.serviceList {
  list-style: none;
  padding-left: 0;
}
.serviceListIcon {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  text-align: center;
  color: white;
}
.serviceList a {
  text-decoration: none;
  color: #444;
}
.serviceList a:hover {
  color: #57822b;
}
.serviceList li ul {
  margin: 10px 0 0 35px;
}
.innerList li {
  display: inline;
  border-right: solid 1px #333;
  margin-right: 5px;
  padding-right: 5px;
}
.innerList li:last-child {
  border: 0;
}
